<%
  payment_allocations ||= []
  payment_allocations = payment_allocations.sort { |a, b| b.percent <=> a.percent }
%>
<% if payment_allocations.empty? %>
  <%= t '.none' %>
<% else %>
  <div class="my-4">
    <div class="flex">
      <% colors = %w(bg-indigo-600 bg-pink-600 bg-green-500 bg-red-500 bg-yellow-500 bg-blue-600) %>
      <% payment_allocations.each do |p| %>
        <% if p.percent.nonzero? %>
          <div class="flex flex-col first:rounded-l-lg last:rounded-r-lg shadow h-16 items-center justify-center <%= colors.shift %> text-sm font-medium text-gray-100" style="width: <%= p.percent %>%">
            <span class="leading-8 truncate overflow-ellipsis"><%= p.percent %>%</span>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="flex flex-col lg:flex-row lg:space-x-4">
      <% colors = %w(bg-indigo-600 bg-pink-600 bg-green-500 bg-red-500 bg-yellow-500 bg-blue-600) %>
      <% payment_allocations.each do |p| %>
        <% if p.percent.nonzero? %>
          <div class="flex items-center">
            <div class="h-2 w-2 rounded-full <%= colors.shift %>"></div>
            <span class="pl-1 truncate overflow-ellipsis text-sm"><%= p.organization.name %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= form_with url: customer_payment_allocations_url do |f| %>
    <ul class="space-y-3">
        <% colors = %w(border-indigo-600 bg-indigo-50 border-pink-600 bg-pink-50 border-green-500 bg-green-50 border-red-500 bg-red-50 border-yellow-500 bg-yellow-50 border-blue-600 bg-blue-100) %>
        <% payment_allocations.each do |p| %>
          <li class="p-4 flex flex-col lg:flex-row lg:items-center lg:space-x-3 rounded-lg border lg:border-2 <%= colors.shift %> <%= colors.shift %>">
            <div class="flex items-center space-x-3">
              <div>
                <%= render "organization/avatar", organization: p.organization %>
              </div>
              <div class="flex-grow lg:w-64 lg:truncate">
                <%= f.hidden_field 'payment_allocations[][organization_id]', value: p.organization.id %>
                <%= f.label 'payment_allocations[][percent]', t("helpers.label.percent_to", organization: p.organization.name), class: 'block text-sm font-medium text-gray-700 whitespace-normal' %>
                <div class="mt-1 relative rounded-md shadow-sm w-full lg:w-20">
                  <%= f.number_field 'payment_allocations[][percent]', value: p.percent, min: 0, max: 100, class: 'focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-6 sm:text-sm border-gray-300 rounded-md' %>
                  <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                    <span class="text-gray-500 sm:text-sm">%</span>
                  </div>
                </div>
              </div>
            </div>
            <p><%= p.organization.description %></p>
          </li>
        <% end %>
        <%= f.button type: :submit, class: "btn btn-secondary btn-center w-full lg:w-auto" %>
    </ul>
  <% end %>
<% end %>