<%
  payment_allocations ||= []
  payment_allocations = payment_allocations.sort { |a, b| b.percent <=> a.percent }
%>
<% if payment_allocations.empty? %>
  <%= t '.none' %>
<% else %>
  <div class="flex m-2 p-2">
    <% colors = %w(bg-indigo-600 bg-pink-600 bg-green-500 bg-red-500 bg-yellow-500 bg-blue-600) %>
    <% payment_allocations.each do |p| %>
      <% if p.percent.nonzero? %>
        <div class="first:rounded-l-lg last:rounded-r-lg shadow h-8 text-center <%= colors.shift %> text-sm font-medium text-gray-100 truncate overflow-ellipsis" style="width: <%= p.percent %>%">
          <span class="leading-8"><%= p.organization.name %></span>
        </div>
      <% end %>
    <% end %>
  </div>
  <ul class="divide-y divide-gray-200">
    <% colors = %w(bg-indigo-600 bg-pink-600 bg-green-500 bg-red-500 bg-yellow-500 bg-blue-600) %>
    <%= form_with url: customer_payment_allocations_url do |f| %>
      <% payment_allocations.each do |p| %>
        <li class="py-4 flex flex-col lg:flex-row lg:items-center space-y-3 lg:space-y-0 lg:space-x-3">
          <div class="<%= colors.shift unless p.percent.zero? %> h-6 w-6 rounded-full flex-shrink-0"></div>
          <div class="flex items-center space-x-3">
            <div>
              <%= render "organization/avatar", organization: p.organization %>
            </div>
            <div>
              <%= f.label 'payment_allocations[][percent]', class: 'block text-sm font-medium text-gray-700' %>
              <div class="mt-1 relative rounded-md shadow-sm w-20">
                <%= f.number_field 'payment_allocations[][percent]', value: p.percent, min: 0, max: 100, class: 'focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-6 sm:text-sm border-gray-300 rounded-md' %>
                <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                  <span class="text-gray-500 sm:text-sm">%</span>
                </div>
              </div>
              <%= f.hidden_field 'payment_allocations[][organization_id]', value: p.organization.id %>
              <p class="text-sm text-gray-500"><%= p.organization.name %></p>
              <%= link_to p.organization.url, p.organization.url, class: "underline text-gray-500 hover:text-gray-900" %>
            </div>
          </div>
          <p><%= p.organization.description %></p>
        </li>
      <% end %>
      <%= f.submit "Save", class: "btn btn-secondary" %>
    <% end %>
  </ul>
<% end %>