<% payment_allocations ||= [] %>
<% if payment_allocations.empty? %>
  <%= t '.none' %>
<% else %>
  <div class="flex m-2 p-2">
    <% colors = %w(bg-indigo-600 bg-pink-600 bg-red-500 bg-yellow-500 bg-blue-600 bg-green-500) %>
    <% payment_allocations.each do |p| %>
      <div class="first:rounded-l-lg last:rounded-r-lg shadow h-8 text-center <%= colors.shift %>" style="width: <%= p.percent %>%">
        <span class="text-sm font-medium text-gray-100 leading-8"><%= p.organization.name %></span>
      </div>
    <% end %>
  </div>
  <ul class="divide-y divide-gray-200">
    <% colors = %w(bg-indigo-600 bg-pink-600 bg-red-500 bg-yellow-500 bg-blue-600 bg-green-500) %>
    <% payment_allocations.each do |p| %>
      <li class="py-4 flex flex-col lg:flex-row lg:items-center space-y-3 lg:space-y-0 lg:space-x-3">
        <div class="<%= colors.shift %> h-6 w-6 rounded-full flex-shrink-0"></div>
        <div class="flex items-center space-x-3">
          <div>
            <%= render "organization/avatar", organization: p.organization %>
          </div>
          <div>
            <p class="text-sm font-medium text-gray-900"><%= p.percent %>%</p>
            <p class="text-sm text-gray-500"><%= p.organization.name %></p>
            <%= link_to p.organization.url, p.organization.url, class: "underline text-gray-500 hover:text-gray-900" %>
          </div>
        </div>
        <p><%= p.organization.description %> </p>
      </li>
    <% end %>
  </ul>
<% end %>